$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$appFont: fantasy, cursive;

body {
  padding: 0;
  letter-spacing: 1px;
}

button#openButton {
  margin: 250px auto;
  width: 250px;
  height: 90px;
  font-size: 30px; 
  display: block;
  font-family: $appFont;
}

#calendarControlls {

  text-align: center;
  font-family: $appFont;

  button {
    display: inline-block;
    margin: 70px 50px;
    border: none;
    background-color: white;
    font-size: 40px;
    color: darkcyan;
  }

  h1 {
    display: inline-block;
    color: darkcyan;
    font-size: 50px;
  }
}

th, td {
  text-align: center;
  color: indianred;
  font-size: 18px;
  font-family: -webkit-pictograph;
  border-left: 1px solid darkcyan;
  border-bottom: 1px solid darkcyan;
}
