<section ng-if="!main.init">
  <div id='openButtonContainer' class='container'>
    <button id='openButton' class='btn btn-lg' ng-click='main.openCalendar(); main.addEvents()'>Open Calendar</button>
  </div>
</section>

<section ng-if="main.init">
  <div id='calendarControlls'>
    <button ng-click='main.prevWeek()'><span class='glyphicon glyphicon-menu-left'></span></button>
    <h1>{{main.month}} {{main.year}}</h1>
    <button ng-click='main.nextWeek()'><span class='glyphicon glyphicon-menu-right'></span></button>
  </div>
  <table class='table'>
    <thead>
      <tr>
        <th ng-repeat="day in main.week">{{day.dayWord}} {{day.dayOfMonth}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td ng-repeat='day in main.week'>
          <div class='event' ng-repeat='event in day.events'>
            {{main.getTime(event.start)}}-{{main.getTime(event.end)}}
            <br/>
            {{event.label}}
          </div>
        </td>

      </tr> 
    </tbody>
  </table>
</section>

